.aws/
.bash_history
.cache/*
.config/*
.gitconfig
.git-credentials
.gem/
.idea
.jira.d
.lesshst
.local/*
.pki/
.python_history
.run/*
.viminfo
.wget-hsts

activate
env
test_env/
VirtualBox VMs/
vm/*

artifacts/
res/*.png
*.egg-info
hivemind.log
__pycache__

hivemind-daemon/onnx
hivemind-repo
qtcreator
scripts/gopass
scripts/jira
