.aws/
.bash_history
.cache/*
.config/*
.gitconfig
.gem/
.idea
.lesshst
.local/*
.pki/
.python_history
.run/*
.viminfo
.wget-hsts

activate
env
test_env/
VirtualBox VMs/
vm/*

artifacts/
*.egg-info
hivemind.log
__pycache__

hivemind-daemon/onnx
hivemind-repo
qtcreator
