* {
    margin: 0px;
    padding: 0px;
}

QPushButton {
    padding: 10px;
}

QLabel {
    color: #aaa;
}

NavPanel {
    min-width: 200px;
    max-width: 200px;
    margin: 0px;
    padding-top: 40px;
    background-color: #111;
    border-right: 2px solid #aaa;
}

NavButton {
    max-height: 130px;
    min-height: 130px;
    padding-bottom: 10px;
}

NavButton:hover {
    background-color: #444;
}

NavButton QLabel {
    font-size: 20px;
}

StartupPage {
    background-color: #222;
}

ConnectionPage {
    background-color: #222;
}

ConnectionPage VBox {
    min-width: 800px;
}

ConnectionPage QLineEdit {
    max-width: 300px;
    text-align: right;
}

ConnectionPage ServerStatus {
    max-width: 600px;
}

ConfigPage {
    background-color: #222;
    padding: 40px;
}

ConfigPage QLineEdit {
    padding: 20px;
}

ConfigPage QTableWidget, ConfigPage QLineEdit {
    color: #aaa;
    background-color: #444;
}

ConfigPage QHeaderView {
    background-color: #333;
    color: #aaa;
}

ConfigPage QTableWidget::item {
    padding-left: 20px;
    padding-right: 20px;
}
