* {
    margin: 0px;
    padding: 0px;
}

QPushButton {
    padding: 5px;
    background-color: #aaa;
    color: #000;
}

QLabel {
    color: #aaa;
}

NavPanel {
    min-width: 100px;
    max-width: 100px;
    margin: 0px;
    padding-top: 20px;
    background-color: #111;
    border-right: 2px solid #aaa;
}

NavButton {
    max-height: 65px;
    min-height: 65px;
    padding-bottom: 5px;
}

NavButton:hover {
    background-color: #444;
}

NavButton QLabel {
    font-size: 10px;
}

StartupPage {
    background-color: #222;
}

ConnectionPage {
    background-color: #222;
}

ConnectionPage VBox {
    min-width: 400px;
}

ConnectionPage QLineEdit {
    max-width: 150px;
    text-align: right;
}

ConnectionPage ServerStatus {
    max-width: 300px;
}

ConfigPage {
    background-color: #222;
    padding: 20px;
}

ConfigPage QLineEdit {
    padding: 10px;
}

ConfigPage QTableWidget, ConfigPage QLineEdit {
    color: #aaa;
    background-color: #444;
}

ConfigPage QHeaderView {
    background-color: #333;
    color: #aaa;
}

ConfigPage QTableWidget::item {
    padding-left: 10px;
    padding-right: 10px;
}

PackagePage, PackagePage QListWidget {
    background-color: #222;
}

PackagePage QListWidget {
    border-top: 2px solid #aaa;
}

PackagePage QListWidget::item {
    min-height: 100px;
    padding: 10px;
    border-bottom: 2px solid #aaa;
}

PackagePage PackageEntry QPushButton {
    margin-right: 20px;
}

PackagePage PackagePageHeader {
    margin: 10px;
    padding: 10px;
    background-color: #222;
    border: 2px dashed #aaa;
}

PackagePage QProgressBar {
    margin-left: 40px;
    margin-right: 20px;
    color: #aaa;
}

InterfacePage QTreeWidget {
    background-color: #222;
    color: #aaa;
    padding-top: 10px;
    border-right: 2px solid #aaa;
}

InterfaceManagePopup QTableWidget {
    background-color: #222;
    text-align: center;
}

InterfaceManagePopup QHeaderView {
    background-color: #333;
    color: #aaa;
    border-bottom: 2px solid #aaa;
}

InterfaceManagePopup QTableWidget::item {
    border-bottom: 2px solid #aaa;
    border-right: 2px solid #aaa;
}

ErrorMessage {
    border: 2px solid #aaa;
    background-color: #444;
}
